{% extends "base.html" %}

{% block title %}
artiste-peintre
{% endblock title %}

{% block content %}
<div class="images gallery grid-x small-up-1 medium-up-1 large-up-1 align-center">
  {% for category in categories %}
    <div class="cell">
      <a href="/theme/{{ category.slug }}">
        <img src="/images/{{ category.thumbnail.id }}.{{ category.thumbnail.ext }}" width="900" height="900" />
        <span>{{ category.name }}</span>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock content %}

