{% extends "base.html" %}

{% block title %}
{{ category.name }}
{% endblock title %}

{% block content %}
<div class="images theme grid-x small-up-1 medium-up-1 large-up-1">
  {% for image in category.images %}
    <div class="cell">
      <a
        data-fslightbox="{{ category.slug }}"
        data-caption="<h4>{{ image.title }} - {{ image.year }}</h4>"
        href="/images/{{ image.id }}.{{ image.ext }}">
          <img src="/images/{{ image.id }}.{{ image.ext }}" width="900" height="900" />
          <span>{{ image.title }} - {{ image.year }}</span>
      </a>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock content %}

