{% extends "base" %}

{% block title %}
gallerie
{% endblock title %}

{% block content %}
<div class="row small-up-1 medium-up-2 large-up-4">
  {% for category in categories %}
    <div class="column column-block">
      <a href="/theme/{{ category.slug }}">
        <span>{{ category.name }}</span>
        <img src="/images/{{ category.thumbnail.id }}.{{ category.thumbnail.ext }}" />
      </a>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock content %}

