{% extends "base" %}

{% block title %}
{{ page.title }}
{% endblock title %}

{% block content %}
<div class="grid-x page page-{{ page.slug }}">
  <div class="large-12 cell">
    {{ page.html | safe }}
  </div>
</div>
{% endblock content %}
