{% extends "base" %}

{% block title %}
{{ category.name }}
{% endblock title %}

{% block content %}
<div class="row small-up-1 medium-up-2 large-up-4">
  {% for image in category.images %}
    <div class="column column-block">
      <a href="/image/{{ image.id }}">
        <span>{{ image.title }} - {{ image.year }}</span>
        <img src="/images/{{ image.src }}" />
      </a>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock content %}

